crds:
  enabled: false
alertmanager:
  enabled: true
grafana:
  enabled: false
prometheus:
  enabled: true
  prometheusSpec:
    externalLabels:
      cluster: "${cluster_name}"
    priorityClassName: "system-cluster-critical"
    retention: 1d
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 5Gi
