# https://github.com/grafana/k8s-monitoring-helm/blob/main/charts/k8s-monitoring/README.md
---
cluster:
  name: "${cluster_name}"

destinations:
  - name: loki
    type: loki
    url: http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push
    auth:
      type: basic
      usernameKey: username
      passwordKey: password
    secret:
      create: false
      name: canary-basic-auth
      namespace: monitoring

clusterEvents:
  enabled: true
  collector: alloy-logs
  # namespaces:

nodeLogs:
  enabled: false

podLogs:
  enabled: true
  gatherMethod: kubernetesApi
  collector: alloy-logs
  # namespaces:

# Collectors
alloy-singleton:
  enabled: false

alloy-metrics:
  enabled: false

alloy-logs:
  enabled: true
  # Required when using the Kubernetes API to pod logs
  alloy:
    mounts:
      varlog: false
    clustering:
      enabled: true

alloy-profiles:
  enabled: false

alloy-receiver:
  enabled: false