# https://github.com/grafana/k8s-monitoring-helm/blob/main/charts/k8s-monitoring/README.md
---
cluster:
  name: "${cluster_name}"

destinations:
  - name: loki
    type: loki
    url: http://loki-loki-distributed-gateway.monitoring.svc.cluster.local/loki/api/v1/push
    auth:
      type: basic
      usernameKey: username
      passwordKey: password
    secret:
      create: false
      name: canary-basic-auth
      namespace: monitoring

clusterEvents:
  enabled: true
  collector: alloy-logs
  namespaces: ${jsonencode(namespaces)}

nodeLogs:
  enabled: false

podLogs:
  enabled: true
  gatherMethod: kubernetesApi
  collector: alloy-logs
  namespaces: ${jsonencode(namespaces)}
  labels:
    app_kubernetes_io_name: app.kubernetes.io/name
    testid: testid
    test_name: test_name
  labelsToKeep:
    - app.kubernetes.io/name
    - container
    - instance
    - job
    - level
    - namespace
    - service.name
    - service.namespace
    - deployment.environment
    - deployment.environment.name
    - k8s.namespace.name
    - k8s.deployment.name
    - k8s.statefulset.name
    - k8s.daemonset.name
    - k8s.cronjob.name
    - k8s.job.name
    - k8s.node.name
    # custom
    - testid
    - test_name

# Collectors
alloy-singleton:
  enabled: false

alloy-metrics:
  enabled: false

alloy-logs:
  enabled: true
  # Required when using the Kubernetes API to pod logs
  alloy:
    mounts:
      varlog: false
      dockercontainers: false

    clustering:
      enabled: true

  controller:
    podAnnotations:
      "kubernetes.azure.com/set-kube-service-host-fqdn": "true"

alloy-profiles:
  enabled: false

alloy-receiver:
  enabled: false
