namespace: platform
test_definitions:
    - test_file: actions/generate-k6-manifests/test_service/k8s_wrapper/get_deployments.js
      config_file: ""
      env_file: ""
      contexts:
        - environment: at22
          node_type: default
          test_type:
            type: functional
            enabled: true
            config_file: ""
          test_run:
            name: get-deployments
            id: at22-get-deployments
            parallelism: 1
            resources:
                requests:
                    memory: 1000Mi
                    cpu: "1"
            env: []
            secrets: []
    - test_file: actions/generate-k6-manifests/test_service/k8s_wrapper/get_daemonsets.js
      config_file: ""
      env_file: ""
      contexts:
        - environment: yt01
          node_type: default
          test_type:
            type: smoke
            enabled: true
            config_file: actions/generate-k6-manifests/test_service/test_configs/yt01_config.json
          test_run:
            name: get-daemonsets
            id: yt01-get-daemonsets
            parallelism: 1
            resources:
                requests:
                    memory: 200Mi
                    cpu: 250m
            env:
                - name: API_VERSION
                  value: "3"
                - name: FEATURE_FLAG1
                  value: enabled
            secrets: []
