{
  "kind": "ConfigMap",
  "apiVersion": "v1",
  "metadata": {
    "name": "{{ .UniqueName }}",
    "namespace": "platform",
    "creationTimestamp": null,
    "labels": {
      "k6-test": "{{ .UniqueName }}",
      "k6-test-configmap": "true",
      "testid": "{{ .UniqueName }}"
    }
  },
  "data": {
    "archive.tar": ""
  }
}