{
   "apiVersion": "k6.io/v1alpha1",
   "kind": "TestRun",
   "metadata": {
      "labels": {
         "generated-by": "k6-action-image",
         "k6-test": "get-deployments",
         "test_name": "get-deployments",
         "testid": "at22-get-deployments",
         "uniq-name": "{{ .UniqName }}"
      },
      "name": "{{ .UniqName }}",
      "namespace": "platform"
   },
   "spec": {
      "arguments": "--tag testid=at22-get-deployments --tag namespace=platform --tag deploy_env=at22 --tag test_name=get-deployments --out experimental-prometheus-rw",
      "cleanup": "post",
      "parallelism": 1,
      "runner": {
         "env": [
            {
               "name": "ENVIRONMENT",
               "value": "at22"
            },
            {
               "name": "K6_NO_USAGE_REPORT",
               "value": "true"
            },
            {
               "name": "K6_PROMETHEUS_RW_SERVER_URL",
               "value": "http://kube-prometheus-stack-prometheus.monitoring:9090/api/v1/write"
            },
            {
               "name": "K6_PROMETHEUS_RW_TREND_STATS",
               "value": "avg,count,min,med,max,p(75),p(95)"
            },
            {
               "name": "MANIFEST_GENERATION_TIMESTAMP",
               "value": "{{ .ManifestGenerationTimestamp }}"
            },
            {
               "name": "NAMESPACE",
               "value": "platform"
            },
            {
               "name": "TESTID",
               "value": "at22-get-deployments"
            },
            {
               "name": "ZZZ",
               "value": "Something"
            }
         ],
         "envFrom": [
            {
               "configMapRef": {
                  "name": "deploy-environments-at22"
               }
            },
            {
               "secretRef": {
                  "name": "slack-test"
               }
            }
         ],
         "image": "grafana/k6:master-with-browser",
         "metadata": {
            "labels": {
               "generated-by": "k6-action-image",
               "k6-test": "get-deployments",
               "test_name": "get-deployments",
               "testid": "at22-get-deployments",
               "uniq-name": "{{ .UniqName }}"
            }
         },
         "nodeSelector": { },
         "resources": {
            "requests": {
               "cpu": "250m",
               "memory": "200Mi"
            }
         },
         "tolerations": [ ]
      },
      "script": {
         "configMap": {
            "file": "archive.tar",
            "name": "at22-get-deployments"
         }
      }
   }
}
