kind: ConfigMap
apiVersion: v1
data:
  schema-version: v1
  config-version: ver3

  log-data-collection-settings: |-
    [log_collection_settings]
      [log_collection_settings.stdout]
         # In the absense of this configmap, default value for enabled is true
         enabled = false
         # exclude_namespaces setting holds good only if enabled is set to true
         # kube-system log collection is disabled by default in the absence of 'log_collection_settings.stdout' setting. If you want to enable kube-system, remove it from the following setting.
         # If you want to continue to disable kube-system log collection keep this namespace in the following setting and add any other namespace you want to disable log collection to the array.
         # In the absense of this configmap, default value for exclude_namespaces = ["kube-system"]
         exclude_namespaces = ["kube-system"]

      [log_collection_settings.stderr]
         # Default value for enabled is true
         enabled = true
         # exclude_namespaces setting holds good only if enabled is set to true
         # kube-system log collection is disabled by default in the absence of 'log_collection_settings.stderr' setting. If you want to enable kube-system, remove it from the following setting.
         # If you want to continue to disable kube-system log collection keep this namespace in the following setting and add any other namespace you want to disable log collection to the array.
         # In the absense of this cofigmap, default value for exclude_namespaces = ["kube-system"]
         exclude_namespaces = ["kube-system", "monitoring"]

      [log_collection_settings.env_var]
         # In the absense of this configmap, default value for enabled is true
         enabled = false
      [log_collection_settings.enrich_container_logs]
         # In the absense of this configmap, default value for enrich_container_logs is false
         enabled = false
         # When this is enabled (enabled = true), every container log entry (both stdout & stderr) will be enriched with container Name & container Image
      [log_collection_settings.collect_all_kube_events]
         # In the absense of this configmap, default value for collect_all_kube_events is false
         # When the setting is set to false, only the kube events with !normal event type will be collected
         enabled = false
         # When this is enabled (enabled = true), all kube events including normal events will be collected
      [log_collection_settings.schema]
         # In the absence of this configmap, default value for containerlog_schema_version is "v1" if "v2" is not enabled while onboarding
         # Supported values for this setting are "v1","v2"
         # See documentation at https://aka.ms/ContainerLogv2 for benefits of v2 schema over v1 schema
         containerlog_schema_version = "v2"
metadata:
  name: container-azm-ms-agentconfig
  namespace: kube-system
