---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - dbforpostgresql.azure.com
  resources:
  - flexibleservers
  - flexibleserversadministrators
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dbforpostgresql.azure.com
  resources:
  - flexibleservers/status
  - flexibleserversadministrators/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - network.azure.com
  resources:
  - privatednszones
  - privatednszonesvirtualnetworklinks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - network.azure.com
  resources:
  - privatednszones/status
  - privatednszonesvirtualnetworklinks/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - storage.dis.altinn.cloud
  resources:
  - databases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - storage.dis.altinn.cloud
  resources:
  - databases/status
  verbs:
  - get
  - patch
  - update
