{
   "apiVersion": "k6.io/v1alpha1",
   "kind": "TestRun",
   "metadata": {
      "annotations": {
         "k6-action-image/test_name": "get-deployments",
         "k6-action-image/test_scope": "k8s-wrapper",
         "k6-action-image/testid": "at22-get-deployments"
      },
      "labels": {
         "generated-by": "k6-action-image",
         "uniq_name": "{{ .UniqName }}"
      },
      "name": "{{ .UniqName }}",
      "namespace": "platform"
   },
   "spec": {
      "arguments": "--tag testid=at22-get-deployments --tag namespace=platform --tag deploy_env=at22 --tag test_name=get-deployments --tag test_scope=k8s-wrapper --out experimental-prometheus-rw",
      "cleanup": "post",
      "parallelism": 1,
      "runner": {
         "env": [
            {
               "name": "ENVIRONMENT",
               "value": "at22"
            },
            {
               "name": "GITHUB_REF",
               "value": "refs/heads/main"
            },
            {
               "name": "GITHUB_REPOSITORY",
               "value": "octocat/Hello-World"
            },
            {
               "name": "GITHUB_RUN_ID",
               "value": "14965885066"
            },
            {
               "name": "GITHUB_SERVER_URL",
               "value": "https://github.com"
            },
            {
               "name": "K6_NO_USAGE_REPORT",
               "value": "true"
            },
            {
               "name": "K6_PROMETHEUS_RW_SERVER_URL",
               "value": "http://kube-prometheus-stack-prometheus.monitoring:9090/api/v1/write"
            },
            {
               "name": "K6_PROMETHEUS_RW_TREND_STATS",
               "value": "avg,min,med,max,count,p(95),p(99),p(99.5),p(99.9)"
            },
            {
               "name": "MANIFEST_GENERATION_TIMESTAMP",
               "value": "{{ .ManifestGenerationTimestamp }}"
            },
            {
               "name": "NAMESPACE",
               "value": "platform"
            },
            {
               "name": "RUNNING_IN_K8S",
               "value": "true"
            },
            {
               "name": "TESTID",
               "value": "at22-get-deployments"
            }
         ],
         "envFrom": [
            {
               "configMapRef": {
                  "name": "deploy-environments-at22"
               }
            },
            {
               "secretRef": {
                  "name": "token-generator-creds"
               }
            },
            {
               "secretRef": {
                  "name": "slack-dev"
               }
            }
         ],
         "image": "ghcr.io/altinn/altinn-platform/k6-image:latest",
         "metadata": {
            "annotations": {
               "k6-action-image/test_name": "get-deployments",
               "k6-action-image/test_scope": "k8s-wrapper",
               "k6-action-image/testid": "at22-get-deployments"
            },
            "labels": {
               "generated-by": "k6-action-image",
               "uniq_name": "{{ .UniqName }}"
            }
         },
         "nodeSelector": { },
         "resources": {
            "requests": {
               "cpu": "250m",
               "memory": "200Mi"
            }
         },
         "tolerations": [ ]
      },
      "script": {
         "configMap": {
            "file": "archive.tar",
            "name": "k8s-wrapper-at22-get-deployments"
         }
      }
   }
}
