# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Send only the files needed by the Dockerfile build.
**
!go.mod
!go.sum
!cmd/
!cmd/**
!api/
!api/**
!internal/
!internal/**
