namespace: platform
test_definitions:
    - test_file: actions/generate-k6-manifests/test_service/k8s_wrapper/get_deployments.js
      config_file: ""
      env_file: ""
      contexts:
        - environment: at22
          node_type: default
          test_type:
            type: browser
            enabled: true
            config_file: ""
          test_run:
            name: get-deployments
            id: at22-get-deployments
            parallelism: 1
            resources:
                requests:
                    memory: 200Mi
                    cpu: 250m
            env:
                - name: ZZZ
                  value: Something
                - name: K6_PROMETHEUS_RW_TREND_STATS
                  value: avg,count,min,med,max,p(75),p(95)
            secrets:
                - token-generator-creds
