name: Altinn K6 Lib Tests

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/altinn-k6-lib-test-pr.yml
      - libs/k6/**
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/altinn-k6-lib-test-pr.yml
      - libs/k6/**

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: libs/k6
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24.x"

      - name: Dependencies
        run: yarn

      - name: Lint Code
        run: yarn lint
