name: auth-at22-aks-rg

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'refs/heads/main')}}

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/auth-at22-aks-rg.yml
      - actions/terraform/apply/**
      - actions/terraform/plan/**
      - infrastructure/modules/aks/**
      - infrastructure/modules/aks-resources/**
      - infrastructure/modules/azure-service-operator/**
      - infrastructure/modules/observability/**
      - infrastructure/modules/grafana/**
      - infrastructure/modules/dns-child-zone/**
      - infrastructure/altinn-auth-test/auth-at22-aks-rg/**
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/auth-at22-aks-rg.yml
      - actions/terraform/apply/**
      - actions/terraform/plan/**
      - infrastructure/modules/aks/**
      - infrastructure/modules/aks-resources/**
      - infrastructure/modules/azure-service-operator/**
      - infrastructure/modules/observability/**
      - infrastructure/modules/grafana/**
      - infrastructure/modules/dns-child-zone/**
      - infrastructure/altinn-auth-test/auth-at22-aks-rg/**
  workflow_dispatch:
    inputs:
      log_level:
        required: true
        description: Terraform Log Level
        default: INFO
        type: choice
        options:
          - TRACE
          - DEBUG
          - INFO
          - WARN
          - ERROR

env:
  ENVIRONMENT: test
  TF_STATE_NAME: auth-at22-aks-rg.tfstate
  TF_PROJECT: ./infrastructure/altinn-auth-test/auth-at22-aks-rg
  ARM_CLIENT_ID: ${{ secrets.TF_AZURE_CLIENT_ID }}
  ARM_SUBSCRIPTION_ID: 37bac63a-b964-46b2-8de8-ba93c432ea1f
  TF_VAR_parent_zone_subscription_id: ${{ secrets.AZURE_ALTINN_CLOUD_DNS_SUBSCRIPTION_ID }}

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  plan:
    name: Plan
    environment: reader
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Grafana Token
        uses: Altinn/altinn-platform/actions/terraform/azure-app-token@a9909884fc54869061a032a1b3d28775551af066 # main
        with:
          arm_client_id: ${{ env.ARM_CLIENT_ID }}
          app_resource_id: ce34e7e5-485f-4d76-964f-b3d2b16d1e4f

      - name: Terraform Plan
        uses: Altinn/altinn-platform/actions/terraform/plan@a9909884fc54869061a032a1b3d28775551af066 # main
        with:
          working_directory: ${{ env.TF_PROJECT }}
          oidc_type: environment
          oidc_value: ${{ env.ENVIRONMENT }}
          arm_client_id: ${{ env.ARM_CLIENT_ID }}
          arm_subscription_id: ${{ env.ARM_SUBSCRIPTION_ID }}
          tf_state_name: ${{ env.TF_STATE_NAME }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    name: Deploy
    environment: test
    if: github.ref == 'refs/heads/main'
    needs: plan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Terraform Apply
        uses: Altinn/altinn-platform/actions/terraform/apply@a9909884fc54869061a032a1b3d28775551af066 # main
        with:
          working_directory: ${{ env.TF_PROJECT }}
          oidc_type: environment
          oidc_value: ${{ env.ENVIRONMENT }}
          arm_client_id: ${{ env.ARM_CLIENT_ID }}
          arm_subscription_id: ${{ env.ARM_SUBSCRIPTION_ID }}
          tf_state_name: ${{ env.TF_STATE_NAME }}
