name: Scan/Release azure devops agent Image

on:
  push:
    tags:
      - "azdevops-agent-*"
    branches:
      - main
    paths:
      - .github/workflows/azdevops-agent-release.yml
      - infrastructure/images/azure-devops-agent/**
      - .github/workflows/reusable-image-scan-and-release-ghcr.yml
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/azdevops-agent-release.yml
      - infrastructure/images/azure-devops-agent/**
      - .github/workflows/reusable-image-scan-and-release-ghcr.yml
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

jobs:
  build-and-release:
    name: Build, scan and release
    uses: ./.github/workflows/reusable-image-scan-and-release-ghcr.yml
    with:
      release_latest: false
      image_name: azure-devops-agent
      tag_prefix: azdevops-agent-
      workdir: ./infrastructure/images/azure-devops-agent
      platforms: linux/amd64
