name: Build and Release send-ci-cd-trace Action
permissions:
  contents: read

env:
  WORKDIR: actions/send-ci-cd-trace

on:
  workflow_dispatch:
    inputs:
      git_tag:
        description: "Tag name for the release"
        required: true
        default: "0.0.1"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    environment: actions-prod

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: "${{ env.WORKDIR }}/package-lock.json"

      - name: Install Dependencies
        run: npm ci --ignore-scripts
        working-directory: ${{ env.WORKDIR }}

      - name: Build the Action
        run: npm run build
        working-directory: ${{ env.WORKDIR }}

      - name: Commit built code
        working-directory: ${{ env.WORKDIR }}
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add -f dist/  # Force add the dist folder, bypassing .gitignore
          git commit -m "Add built files for release [skip ci]"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and push tag
        if: ${{ success() }}
        run: |
          TAG_NAME="${{ inputs.git_tag }}"
          git tag $TAG_NAME
          git push origin $TAG_NAME
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
