name: Build default-syncroot image

env:
  ARTIFACT_NAME: dis/default-syncroot

on:
  push:
    branches:
      - main
    paths:
      - 'infrastructure/images/default-syncroot/**'
      - '.github/workflows/default-syncroot.yml'
    tags:
      - 'default-syncroot-*'

permissions:
  contents: read
  id-token: write

jobs:
  latest:
    name: Build latest from main
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Validate syncroot image
        uses: Altinn/altinn-platform/actions/flux/verify-syncroot@926ba9b8877dfb8ee8dc6ef0c75a86e998788e84 # main
        with:
          workdir: ./infrastructure/images/default-syncroot
      - name: Build and push latest artifact
        uses: Altinn/altinn-platform/actions/flux/build-push-image@926ba9b8877dfb8ee8dc6ef0c75a86e998788e84 # main
        with:
          image_name: ${{ env.ARTIFACT_NAME }}
          tag: latest
          workdir: ./infrastructure/images/default-syncroot
          azure_subscription_id: ${{ secrets.AZURE_ALTINNACR_SUBSCRIPTION_ID }}
          azure_app_id: ${{ secrets.AZURE_ALTINNACR_APP_ID }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
  release:
    name: Build release from tag
    if: startsWith(github.ref, 'refs/tags/default-syncroot-')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Get tag short sha
        id: get_tags
        run: |
          echo "tag=${GITHUB_REF/refs\/tags\/default-syncroot-/}" >> $GITHUB_OUTPUT
          echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Re-tag existing image
        uses: Altinn/altinn-platform/actions/flux/retag-image@926ba9b8877dfb8ee8dc6ef0c75a86e998788e84 # main
        with:
          image_name: ${{ env.ARTIFACT_NAME }}
          from_tag: ${{ steps.get_tags.outputs.short_sha }}
          tag: ${{ steps.get_tags.outputs.tag }}
          workdir: ./infrastructure/images/default-syncroot
          azure_subscription_id: ${{ secrets.AZURE_ALTINNACR_SUBSCRIPTION_ID }}
          azure_app_id: ${{ secrets.AZURE_ALTINNACR_APP_ID }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
