name: Vulncheck
permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/govulncheck.yaml
      - "services/dis-apim-operator/**"
      - "services/dis-identity-operator/**"
      - "services/lakmus/**"
      - "tools/disctl/**"
      - "actions/generate-k6-manifests/**"
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/govulncheck.yaml
      - "services/dis-apim-operator/**"
      - "services/dis-identity-operator/**"
      - "services/lakmus/**"
      - "tools/disctl/**"
      - "actions/generate-k6-manifests/**"
  schedule:
    - cron: "0 6 * * *" #Every day at 6

jobs:
  test-build:
    name: Check for go vulnerabilities
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        module-dir:
          - "services/dis-apim-operator"
          - "services/dis-identity-operator"
          - "services/lakmus"
          - "tools/disctl"
          - "actions/generate-k6-manifests"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - id: govulncheck
        uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
        with:
          go-version-file: go.mod
          repo-checkout: false
          work-dir: ${{ matrix.module-dir }}
