name: Scan/Release K6 Action Image

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/k6-action-image-release.yml
      - infrastructure/images/k6-action/**
      - .github/workflows/reusable-image-scan-and-release-ghcr.yml
    tags:
      - "k6-action-image-*"
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/k6-action-image-release.yml
      - infrastructure/images/k6-action/**
      - .github/workflows/reusable-image-scan-and-release-ghcr.yml
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        id: checkout_code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker
        uses: docker/setup-docker-action@e43656e248c0bd0647d3f5c195d116aacf6fcaf4 # v4.7.0

      - name: Build Image
        shell: bash
        run: |
          docker build --file ./infrastructure/images/k6-action/Dockerfile --tag k6-action-image:test . && \
          docker build --file ./actions/generate-k6-manifests/Dockerfile.test --tag k6-generate-manifests:test .

  build-and-release:
    needs: test
    name: Build, scan and release
    uses: ./.github/workflows/reusable-image-scan-and-release-ghcr.yml
    with:
      release_latest: true
      image_name: k6-action-image
      tag_prefix: k6-action-image-
      workdir: .
      file: ./infrastructure/images/k6-action/Dockerfile
      trivyignore: ./infrastructure/images/k6-action/.trivyignore
      platforms: linux/amd64
