name: Scan and Release Docker image to GHCR
permissions:
  contents: read
  packages: write

on:
  workflow_call:
    inputs:
      workdir:
        description: "Folder containing the Docker context"
        required: true
        type: string
      file:
        description: "Path to the Dockerfile."
        required: false
        type: string
      trivyignore:
        description: "Path to the trivyignore file"
        required: false
        type: string
      image_name:
        description: "Name of the Docker image"
        required: true
        type: string
      tag_prefix:
        description: "Tag prefix that triggers the release"
        required: false
        default: "-"
        type: string
      release_latest:
        description: "Push image from main branch with latest tag"
        required: false
        default: false
        type: boolean
      platforms:
        description: "Platforms to build the image for"
        required: false
        default: "linux/amd64,linux/arm64"
        type: string

jobs:
  scan:
    runs-on: ubuntu-latest
    name: Build and scan Docker image
    outputs:
      timestamp: ${{ steps.git-info.outputs.timestamp }}
      reponame: ${{ steps.git-info.outputs.reponame }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Get Git commit timestamps
        id: git-info
        run: |
          echo "timestamp=$(git log -1 --pretty=%ct)" >> ${GITHUB_OUTPUT}
          echo "reponame=${GITHUB_REPOSITORY,,}" >> ${GITHUB_OUTPUT}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Build local image
        id: docker_build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: ${{ inputs.workdir}}
          push: false
          load: true
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ inputs.image_name }}:scan
          file: ${{ inputs.file}}
        env:
          SOURCE_DATE_EPOCH: ${{ steps.git-info.outputs.timestamp }}
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284 # 0.34.0
        with:
          image-ref: ${{ inputs.image_name }}:scan
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          trivyignores: ${{ inputs.trivyignore != '' && inputs.trivyignore || format('{0}/{1}', inputs.workdir, '.trivyignore') }}
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"
  release-tag:
    runs-on: ubuntu-latest
    needs: scan
    if: inputs.tag_prefix!= '-' && startsWith(github.ref, format('refs/tags/{0}', inputs.tag_prefix))
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Get variables from tags
        id: vars
        run: |
          tag=${GITHUB_REF/refs\/tags\/${{ inputs.tag_prefix }}/}
          echo "version=${tag%-demo}" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to Docker
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push
        id: docker_push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: ${{ inputs.workdir }}
          file: ${{ inputs.file}}
          push: true
          platforms: ${{ inputs.platforms }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ghcr.io/${{ needs.scan.outputs.reponame }}/${{inputs.image_name}}:v${{ steps.vars.outputs.version }}
        env:
          SOURCE_DATE_EPOCH: ${{ needs.scan.outputs.timestamp }}

  release-main:
    runs-on: ubuntu-latest
    needs: scan
    if: github.ref == 'refs/heads/main' && inputs.release_latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to Docker
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push
        id: docker_push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: ${{ inputs.workdir }}
          file: ${{ inputs.file}}
          push: true
          platforms: ${{ inputs.platforms }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ghcr.io/${{ needs.scan.outputs.reponame }}/${{inputs.image_name}}:latest
        env:
          SOURCE_DATE_EPOCH: ${{ needs.scan.outputs.timestamp }}
